.mb-xs-5 {
    margin-bottom: 3rem;
    }   
.carousel-item img {
        max-height: 300px;
        margin: 0 auto;
        border-radius: 15px;
    }
#picture-box {
    background: transparent url('img/hb2.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#picture-box > .container {
    min-height: inherit;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.picture-box_quote {
   padding: 45px;
   
}
.alert {
    border-radius: 15px;
}
